<div class="row no-gutters slider-arriba">
    <div id="carouselExampleIndicators" class="carousel slide carousel-fade w-100" data-ride="carousel"   >
        <ol class="carousel-indicators">
            <!--<li data-target="#carouselExampleIndicators" data-slide-to="0" class="active mx-2"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1" class="mx-2"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2" class="mx-2"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="3" class="mx-2"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="4" class="mx-2"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="5" class="mx-2"></li> -->
        </ol> 
        
        <div class="carousel-inner">

            <!-- Default Banner -->
            <div class="carousel-item active">
                <picture>
                    <source  media="(max-width: 600px)" srcset="img/home/carrousel/pr/banner-1_700.jpg">
                    <img src="img/home/carrousel/pr/banner-1.jpg" class="d-block w-100" alt="...">
                </picture>
                <div class="carousel-caption slider__btn-resp-2 d-block d-md-none">
                    <div class="text-left">
                        <a class="btn btn-estructura-resp btn-naranja mt-md-2" href="donde-comprar">
                            <span class="btn-medio">¿DÓNDE COMPRAR?</span>
                        </a>
                    </div> 
                </div>
                <div class="carousel-caption slider-7 d-none d-md-block">
                    <h2 class="h2-slider-1 text-left">¡Ya estamos en <br>
                        Puerto Rico!</h2>
                    <h3 class="h3-slider text-left">
                        Ahora el pan más sabroso<br>
                        está en tus supermercados
                    </h3>
                    <div class="text-left">
                        <a class="btn btn-estructura btn-naranja mt-md-2" href="donde-comprar">
                            <span class="btn-medio">¿DÓNDE COMPRAR?</span>
                        </a>
                    </div>                    
                </div>
            </div>
            <!-- FIN Default Banner -->

            <!-- Thansks Giving Banner -->
            <!--<div class="carousel-item">
                <picture>
                    <source  media="(max-width: 600px)" srcset="img/home/carrousel/pr/2022/11-nov/ThansksGivingBanner-700x700.jpg">
                    <img src="img/home/carrousel/pr/2022/11-nov/ThansksGivingBanner-1200x555.jpg" class="d-block w-100" alt="...">
                </picture>
            </div>-->
            <!-- FIN Thansks Giving Banner -->

            <!-- Halloween Banner -->
            <!-- <div class="carousel-item">
                <picture>
                    <source  media="(max-width: 600px)" srcset="img/home/carrousel/pr/2022/10-oct/banner-hw-700x700.jpg">
                    <img src="img/home/carrousel/pr/2022/10-oct/banner-hw-1200x555.jpg" class="d-block w-100" alt="...">
                </picture>
            </div> -->
            <!-- FIN Halloween Banner -->

        </div>
       <!-- <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>-->
    </div>
</div>    